
select {
    margin: 0.5rem;
    padding: 0.3rem;
    border-radius: 2px;
    border: 1px solid green;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: black;
}

span.click {
    color: red;
    cursor: pointer;
    padding-right: 0.5rem;
    
}